


img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



.AboutMe {
    padding: 2rem;
    background-color: #14f3b0; 
    text-align: center; /* Aligns everything to the center */
}
.AboutMe img {
    max-width: 200px;
    border-radius: 50%; /* Makes the image circular */
    display: block;
    margin: 0 auto; /* Centers the image */
}

.AboutMe p {
    font-size: 1.5rem;
    line-height: 1.6; /* Improves readability */
    color: #333; /* Dark gray for better contrast */
    max-width: 800px; /* Ensures the paragraph doesn't stretch too much on large screens */
    margin: 0 auto; /* Centers the paragraph in case it's less than max-width */
}